body {
  font-family: "segoe ui", "lucida grande", tahoma, verdana, arial, helvetica, sans-serif;
  font-size: 0.8125em;
  line-height: 1.3em;
  margin: 0;
}

#container {
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

#playerHealth {
  background-color: black;
  border: 2px solid black;
}

#playerCombatText {
  vertical-align: middle;
  line-height: 20px;
  color: red;
}

#enemyHealth {
  background-color: black;
  border: 2px solid white;
}

#enemyCombatText {
  vertical-align: middle;
  line-height: 20px;
  color: red;
}

#experience {
  text-align: center;
  background-color:#000;
  border: 2px solid black;
}

#experienceBar {
  width: 0;
  margin-left:0;
  margin-right:auto;
  background-color: #909;
}

#experienceBarText {
  text-align: center;
}



#inventory {
  float: right;
  margin-right: 5px;
  background-color: black;
}

#inventoryTable td {
  height: 48px;
  width: 48px;
  background-color: #666;
}

#inventoryTable td .item {
  height: 44px;
  width: 44px;
}

#character {
  float: right;
  background-color: #666;
  background-color: black;
}

#characterTable td {
  height: 40px;
  width: 40px;
  background-color: #666;
}

#characterTable td .item {
  height: 35px;
  width: 35px;
}






.smallBar {
  width: 150px;
  height: 20px;
  margin-bottom: 10px;
}

.smallBarText {
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000;
  position: absolute;
}

.popupText {
  float: right;
  width: 80px;
  height: 20px;
}

.fullWidthBar {
  height: 20px;
  width: calc(100% - 4px);
  margin-left: auto;
  margin-right: auto;
}

.snappedTopBar {
  position: absolute;
  top: 0;
}

.healthContainer {
  width: 240px;
}

.item .tooltip {
  position: fixed;
  width: 200px;
  height: 300px;
  background: #06F;
  opacity: 0.95;
  z-index: 10;
  display: none;
}
